.carousel {
}

.carousel a {
  transition: all 0.4s ease-in-out;
  background-color: rgb(127, 140, 141, 0.2);
}

.carousel a:hover {
  background-color: rgb(127, 140, 141, 1);
}

.carousel-item,
.carousel-item.active {
  text-align: center;
}
