.carousel {
  background-color: rgba(0, 0, 0, 0.75);
}

.carousel-item,
.carousel-item.active {
  text-align: center;
}

/* 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: calc(50% - 67px);
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 56px;
  color: #7f8c8d;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 56px;
  color: #7f8c8d;
} */
